
<div class="addScroll">
    <div class="row contenedor-cards mb-4 mx-2 mx-md-5 px-md-5">
        <div *ngFor="let month of months" class="col-3">
            <div class="card text-center shadow">
                <!-- <img class="rounded-circle mx-auto mt-1" [src]="beneficio.img" width="100" height="100"> -->
                <div class="card-body">
                    <h5 class="card-title font-CircularStd-Bold text-wrap">{{ month.month }}</h5>
                    <p class="card-text text-wrap">{{ month.income }}</p>
                    <p class="card-text text-wrap">{{ month.expense }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

