.card {
    height: 100%;
}

/* carousel */
@media only screen and (max-width: 970px) {
    .contenedor-cards {
        min-width: 1200px;
    }
    .addScroll {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }
    .addScroll::-webkit-scrollbar {
        width: 8px;
        /* Tamaño del scroll en vertical */
        height: 8px;
        /* Tamaño del scroll en horizontal */
        display: none;
        /* Ocultar scroll */
    }
}

/* style to card */
.fila{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.ml-2, .mx-2 {
    margin-left: .5rem!important;
}
.mr-2, .mx-2 {
    margin-right: .5rem!important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
