.card {
    height: 100%;
}

/* carousel */
@media only screen and (max-width: 970px) {
    .contenedor-cards {
        min-width: 1200px;
    }
    .addScroll {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }
    .addScroll::-webkit-scrollbar {
        width: 8px;
        /* Tamaño del scroll en vertical */
        height: 8px;
        /* Tamaño del scroll en horizontal */
        display: none;
        /* Ocultar scroll */
    }
}