
<div class="addScroll">
    <div class="fila contenedor-cards mb-4 mx-2 mx-md-5 px-md-5">
        <div *ngFor="let person of persons" class="col-3">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h5 class="card-title font-CircularStd-Bold text-wrap">{{ person.title }}</h5>
                    <p class="card-text text-wrap">{{ person.income }}</p>
                    <p class="card-text text-wrap">{{ person.expenses }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fila contenedor-cards mb-4 mx-2 mx-md-5 px-md-5">
<div class="card text-center shadow">
<div class="card-body">
    <h5 class="card-title font-CircularStd-Bold text-wrap">titulo</h5>
    <p class="card-text text-wrap">500</p>
    <p class="card-text text-wrap">600</p>
</div>
</div>
</div>

