<mat-sidenav-container class="example-container">

  <mat-sidenav #drawer mode="over" [(opened)]="opened" role="navigation">

    <mat-nav-list class="mat-nav-list-nopad">
      <mat-toolbar class="black-toolbar mat-elevation-z5 espandir-menu">

        <mat-toolbar-row>
          <span>Menú</span>
        </mat-toolbar-row>
      </mat-toolbar>
      <div>
        <div (click)="drawer.toggle()"> <a mat-list-item routerLink="/home">Inicio</a></div>
        <div (click)="drawer.toggle()"> <a mat-list-item routerLink="/personal-expense">Gasto Personal</a></div>
      </div>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="mast-sidenav-content">

    <app-header (OCSidenav)="onToggleSidenav($event)">
    </app-header>

    <ng-content></ng-content>

  </mat-sidenav-content>

</mat-sidenav-container>
